NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Yash7007
DB_NAME=fluentai_knowledge

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

OPENAI_API_KEY=your_openai_api_key_here
